body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.page-header {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #ececec;
}

.page-header__conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 767px) {
  .page-header__conteiner {
    display: block;
  }
}

.page-header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .page-header__box {
    height: 60px;
  }
}

.logo {
  display: inline-block;
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  letter-spacing: 0.03em;
}
@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.page-header__logo-accent {
  color: #000;
}

.page-footer__logo-accent {
  color: #fff;
}

.page-footer__logo {
  margin-bottom: 28px;
}
@media (min-width: 1200px) {
  .page-footer__logo {
    margin-bottom: 20px;
  }
}

.menu__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  fill: #000;
}
@media (min-width: 768px) {
  .menu__toggle {
    display: none;
  }
}

.menu__toggle-icon:hover,
.menu__toggle-icon:focus {
  fill: #2196f3;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fff;
  z-index: 999;
  transform: translateX(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .menu {
    display: none;
  }
}

.menu.is-open {
  display: block;
  transform: translateX(0);
}

.js-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu__list {
  margin-bottom: auto;
}

.contact__link-tel {
  display: flex;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}

.contact__link-mail {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
  color: #757575;
  text-decoration: none;
}

.social-mobile {
  display: flex;
  gap: 20px;
}

.social-mobile__item {
  position: relative;
}

.social-mobile__link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}

.social-mobile__item:not(:last-child)::after {
  position: absolute;
  top: 50%;
  right: -22px;
  content: "";
  display: inline-block;
  width: 22px;
  height: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}

.mobile-menu__link--current {
  color: #2196f3;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 93px;
}

.contacts {
  display: none;
}
@media (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media (min-width: 1200px) {
  .contacts {
    gap: 50px;
    flex-direction: row;
  }
}

.menu-nav {
  display: none;
}
@media (min-width: 768px) {
  .menu-nav {
    display: flex;
    gap: 50px;
  }
}

.menu-nav__link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 32px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav__link:hover {
  color: #2196f3;
}
.menu-nav__link:focus {
  color: #2196f3;
}

.contacts__link {
  color: #757575;
  fill: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 32px 0;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover {
  color: #2196f3;
  fill: #2196f3;
}
.contacts__link:focus {
  color: #2196f3;
  fill: #2196f3;
}
@media (min-width: 768px) {
  .contacts__link {
    padding: 0;
    font-size: 12px;
    line-height: 1.16;
  }
}

.menu-nav__link--current {
  position: relative;
  color: #2196f3;
}
.menu-nav__link--current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.contacts__icon {
  margin-right: 10px;
}

.hero-section {
  padding: 118px 0;
  background-color: #c4c4c4;
  text-align: center;
}
@media (min-width: 480px) {
  .hero-section {
    max-width: 480px;
  }
}
@media (min-width: 768px) {
  .hero-section {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .hero-section {
    padding: 200px 0;
    max-width: 1600px;
  }
}

.hero-img {
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-device-pixel-ratio: 2) {
  .hero-img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero-img@2x.jpg");
  }
}
@media (min-width: 768px) {
  .hero-img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img-tablet.jpg");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-device-pixel-ratio: 2) {
  .hero-img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero-img-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .hero-img {
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img-notebook.jpg");
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-device-pixel-ratio: 2) {
  .hero-img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero-img-notebook@2x.jpg");
  }
}

.hero-section__title {
  margin-bottom: 30px;
  color: #fff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto 30px auto;
}
@media (min-width: 768px) {
  .hero-section__title {
    width: 360px;
  }
}
@media (min-width: 1200px) {
  .hero-section__title {
    width: 700px;
    font-size: 44px;
    line-height: 1.364;
  }
}

.button {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  min-width: 216px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
@media (min-width: 768px) {
  .button {
    min-width: 200px;
  }
}

.features-list {
  display: block;
  gap: 30px;
}
@media (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .features-list {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .features-list__item {
    max-width: 354px;
  }
}

.features-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.features-list__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.features-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .features-list__title {
    text-align: center;
  }
}

.features-list__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.work-section {
  padding-top: 0;
  display: none;
}
@media (min-width: 1200px) {
  .work-section {
    display: block;
  }
}

.activity {
  display: flex;
  gap: 30px;
}

.activity__item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}

.work-section__title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.activity__overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.activity__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.team-section {
  background-color: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.team-section__title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media (min-width: 1200px) {
  .team-section__title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.members {
  display: block;
}
@media (min-width: 768px) {
  .members {
    display: flex;
    gap: 30px;
    flex-basis: calc((100% - 60px) / 2);
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .members {
    display: flex;
    gap: 30px;
    flex-basis: calc((100% - 90px) / 4);
    flex-wrap: nowrap;
  }
}

.members__card {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media (max-width: 767px) {
  .members__card {
    max-width: 450px;
    max-height: 622px;
  }
}
@media (min-width: 768px) {
  .members__card {
    max-width: 354px;
    max-height: 536px;
  }
}

@media (max-width: 767px) {
  .members__card:not(:last-child) {
    margin-bottom: 30px;
  }
}
.members__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.members__position {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.members__studio {
  padding: 30px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196f3;
  fill: #fff;
}

.customers {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media (min-width: 1200px) {
  .customers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
}

@media (max-width: 767px) {
  .customers__item {
    width: calc((100% - 30px) / 2);
  }
}
@media (min-width: 768px) {
  .customers__item {
    width: calc((100% - 60px) / 3);
  }
}

.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover, .customers__link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}
@media (min-width: 768px) {
  .customers__link {
    max-width: 226px;
  }
}
@media (min-width: 1200px) {
  .customers__link {
    max-width: 170px;
  }
}

.clients-section__title {
  color: #212121;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .clients-section__title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.page-footer {
  background-color: #2f303a;
  padding: 60px 0;
}
@media (max-width: 1200px) {
  .page-footer {
    text-align: center;
  }
}

.page-footer__container {
  display: block;
}
@media (min-width: 1200px) {
  .page-footer__container {
    display: flex;
    gap: 70px;
    align-items: baseline;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .page-footer__flex-container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media (min-width: 1200px) {
  .page-footer__flex-container {
    display: flex;
    align-items: baseline;
    gap: 70px;
  }
}

.page-footer__social {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 767px) {
  .page-footer__social {
    margin-bottom: 60px;
    align-items: center;
  }
}

.soc-list {
  display: flex;
  gap: 10px;
}

.page-footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.address__link {
  display: inline-block;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.soc-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link-footer:hover, .soc-link-footer:focus {
  background-color: #2196f3;
}

.address__contacts {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__contacts:hover, .address__contacts:focus {
  color: #2196f3;
}

.address__item:not(:last-child) {
  margin-bottom: 12px;
}
@media (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__item:last-child {
  margin-bottom: 60px;
}

.subscribe-form__box {
  display: flex;
}
@media (max-width: 1199px) {
  .subscribe-form__box {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .subscribe-form__box {
    gap: 12px;
  }
}

.subscribe-form__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.subscribe-form__input {
  max-width: 450px;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media (max-width: 1199px) {
  .subscribe-form__input {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .subscribe-form__input {
    min-width: 358px;
  }
}

.subscribe-form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 200px;
  height: 50px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  background-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-form__submit:hover {
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 450px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media (min-width: 1200px) {
  .modal {
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 581px;
    min-width: 528px;
  }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon:hover, .modal__icon:focus {
  fill: #2196f3;
}

.form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input-wrap {
  position: relative;
  width: 100%;
}

.form__input {
  width: 100%;
  padding: 14px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  border-color: #2196f3;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.form__input:focus + .form__icon {
  fill: #2196f3;
}

.form-item__margin {
  margin-bottom: 20px;
}

.form__comment {
  height: 120px;
  padding: 16px 12px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment:focus {
  border-color: #2196f3;
}

.form__comment::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__checkbox-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form__checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}
@media (min-width: 1200px) {
  .form__checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form__checkbox-link {
  color: #2196f3;
  margin-left: 5px;
  cursor: pointer;
}

.form__checkbox-icon {
  /* position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    z-index: -1; */
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox-input:checked + .form__checkbox-icon {
  border-color: #2196f3;
  background-color: #2196f3;
}

.form__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 52px;
  min-width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__submit:hover {
  background-color: #188ce8;
}

.buttons-nav {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.buttons-nav__item {
  padding: 6px 22px;
  color: #212121;
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons-nav__item:hover {
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.buttons-nav__item:focus {
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-card__link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card__link:hover, .project-card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-card__link:hover .project-card__text, .project-card__link:focus .project-card__text {
  transform: translateY(0);
}

.project-card__title {
  margin-bottom: 4px;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-card__subtitle {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}

.project-card {
  width: 370px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.project-card__footer {
  padding: 20px 24px;
}

.project-card__overlay {
  position: relative;
  overflow: hidden;
}

.project-card__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
}/*# sourceMappingURL=main.css.map */