.page-footer {
  background-color: $title-bg-color;
  padding: 60px 0;
}
.page-footer__container {
  display: flex;
  gap: 70px;
  align-items: baseline;
}
.page-footer__social {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.soc-list {
  display: flex;
  gap: 10px;
}
.page-footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
}
.address__link {
  display: inline-block;
  color: $white-color;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.soc-link-footer {
  @include centeredFlex();
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: $white-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
.address__contacts {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
