.hero-section {
  padding: 118px 0;
  background-color: $hero-bgc;
  text-align: center;
  @media (min-width: 480px) {
    max-width: 480px;
  }
  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 1200px) {
    padding: 200px 0;
    max-width: 1600px;
  }
}

.hero-img {
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, $hero-gradient, $hero-gradient),
    url("../images/hero-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-resolution: 192dpi), (min-device-pixel-ratio: 2) {
    background-image: linear-gradient(to right, $hero-gradient, $hero-gradient),
      url("../images/hero-img@2x.jpg");
  }

  @media (min-width: 768px) {
    background-image: linear-gradient(to right, $hero-gradient, $hero-gradient),
      url("../images/hero-img-tablet.jpg");
    @media (min-resolution: 192dpi), (min-device-pixel-ratio: 2) {
      background-image: linear-gradient(
          to right,
          $hero-gradient,
          $hero-gradient
        ),
        url("../images/hero-img-tablet@2x.jpg");
    }
  }
  @media (min-width: 1200px) {
    height: 600px;
    background-image: linear-gradient(to right, $hero-gradient, $hero-gradient),
      url("../images/hero-img-notebook.jpg");
    @media (min-resolution: 192dpi), (min-device-pixel-ratio: 2) {
      background-image: linear-gradient(
          to right,
          $hero-gradient,
          $hero-gradient
        ),
        url("../images/hero-img-notebook@2x.jpg");
    }
  }
}

.hero-section__title {
  margin-bottom: 30px;
  color: $white-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto 30px auto;

  @media (min-width: 768px) {
    width: 360px;
  }
  @media (min-width: 1200px) {
    width: 700px;
    font-size: 44px;
    line-height: 1.364;
  }
}
.button {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  min-width: 216px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: $accent-color;
  color: $white-color;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background: $btn-hover-color;
    box-shadow: 0px 4px 4px $btn-shadow;
  }
  &:focus {
    background: $btn-hover-color;
    box-shadow: 0px 4px 4px $btn-shadow;
    border-radius: 4px;
  }
  @media (min-width: 768px) {
    min-width: 200px;
  }
}
