.page-nav {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  @include centeredFlex(space-between);
  gap: 93px;
}
.contacts {
  display: none;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  @media (min-width: 1200px) {
    gap: 50px;
    flex-direction: row;
  }
}
.menu-nav {
  display: none;
  @media (min-width: 768px) {
    display: flex;
    gap: 50px;
  }
}
.menu-nav__link {
  color: $title-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 32px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: $accent-color;
  }
  &:focus {
    color: $accent-color;
  }
}
.contacts__link {
  color: $primary-text-color;
  fill: $primary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 32px 0;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: $accent-color;
    fill: $accent-color;
  }
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
  @media (min-width: 768px) {
    padding: 0;
    font-size: 12px;
    line-height: 1.16;
  }
}
.menu-nav__link--current {
  position: relative;
  color: $accent-color;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}
.contacts__icon {
  margin-right: 10px;
}
