.subscribe-form__box {
  display: flex;

  @media (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 1200px) {
    gap: 12px;
  }
}
.subscribe-form__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
}
.subscribe-form__input {
  max-width: 450px;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  background-color: $title-bg-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  @media (max-width: 1199px) {
    margin-bottom: 20px;
  }
  @media (min-width: 1200px) {
    min-width: 358px;
  }
}
.subscribe-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__submit {
  @include centeredFlex();
  gap: 10px;
  max-width: 200px;
  height: 50px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: $white-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  background-color: $accent-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: $btn-hover-color;
  }
}
