$title-bg-color: #2f303a;
$accent-color: #2196f3;
$primary-text-color: #757575;
$title-text-color: #212121;
$white-color: #fff;
$black-color: #000;
$secondary-btn-color: #f5f4fa;
$btn-hover-color: #188ce8;
$secondary-bg-color: #f5f4fa;
$icon-soc-color: #afb1b8;
$input-border-color: rgba(33, 33, 33, 0.2);
$hero-gradient: rgba(47, 48, 58, 0.4);
$btn-shadow: rgba(0, 0, 0, 0.15);
$cards-shadow: rgba(0, 0, 0, 0.12);
$overlay-bg: rgba(33, 150, 243, 0.9);
$hero-bgc: #c4c4c4;
